body, html {
  /*height: 100%;*/
  -webkit-tap-highlight-color: transparent;
}
body{
	background:#f6f6f6;
}
input{
    -webkit-appearance: none;
}
.demos-title {
  text-align: center;
  font-size: 22px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.demos-sub-title {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.demos-header {
  padding: 35px 0;
}

.demos-content-padded {
  padding: 15px;
}

.demos-second-title {
  text-align: center;
  font-size: 24px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}
footer {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}
.bottom-block {
	position:fixed;
	bottom:0;
	width:100%;
	margin:0;
	z-index:99999;
}
.weui-toptips{
	z-index:9999999;
}
.block10{
	margin-top:10px;
}
.clear{
	clear:both;
}
.bottom a{
	display:block;
	color:#fff;
}
.bottom {
	position:fixed;
	bottom:0px;
	width:100%;
	height:50px;
	background:#1aad19;
	color:#fff;
	text-align:center;
	line-height:50px;
}
.bottom .item {
	width:50%;
	float:left;
}
.bottom .item a{
	display:block;
	color:#fff;
}
.bottom .left-box a{
	border-right:1px solid #fff;
}

footer a {
  color: #999;
  text-decoration: none;
}
/*屏幕大于480px并且小于640px*/
@media (min-width: 480px) and (max-width: 640px) {

}

/*屏幕小于320px*/
@media (max-width: 320px){
	.weui-form-preview__value input {
		width:36% !important;
	}
}
@media screen and (max-width: 1100px){
	.layui-layer-iframe{
		overflow-y:inherit !important;
	}	
}