body, html {
  /*height: 100%;*/
  -webkit-tap-highlight-color: transparent;
}
input{
    -webkit-appearance: none;
}
.demos-title {
  text-align: center;
  font-size: 22px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.demos-sub-title {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.demos-header {
  padding: 35px 0;
}

.demos-content-padded {
  padding: 15px;
}

.demos-second-title {
  text-align: center;
  font-size: 24px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}
footer {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

footer a {
  color: #999;
  text-decoration: none;
}
/*屏幕大于480px并且小于640px*/
@media (min-width: 480px) and (max-width: 640px) {

}

/*屏幕小于320px*/
@media (max-width: 320px){
	.weui-form-preview__value input {
		width:36% !important;
	}
}